.address-input {
    grid-area: address-input;
    align-self: baseline;
    margin-bottom: 15px;
    margin-right: 10px;

    background-color: transparent;
    color: $white;
    padding: 12px 6px;
    border: 1px solid $orange-peel;
    border-radius: 3px;

    font-size: 22px;

    @media(max-width: 768px) {
        font-size: 18px;
        margin: 0 0 10px;
    }

    &::placeholder {
        color: $white;
    }
}