.nav {
    display: flex;

    &__logo {
        display: inline-block;
        margin-right: 35%;
    }

    &__list {
        margin: 0;
        padding: 0;
        list-style-type: none;
        margin-right: auto;

        align-self: center;
    }
}