// colors naming according https://www.htmlcsscolor.com/
$haiti: #201b28;
$white: #ffffff;
$black: #000000;
$grey: #888888;
$indigo: #5f008c;
$blackcurrant: #2c2038;
$electric-purple: #b600ea;
$orange-peel: #f7a100;
$gamboge: #f3980d;
$islamic-green: #06a306;
$shamrock: #2fdc84;



// fonts
$lato: "Lato", "Verdana", sans-serif;